
body {
    --footer-background: #EEEFFB;
}

.header {
    margin: 50px 0px;
    position:sticky;
    width: 100%;
}





.header-items li {
    list-style: none;
    display: inline;
}


.header-items ul {
    display: flex;
    align-items: center;
    gap: 35px;

}

.header-search form {
    display: flex;
    stroke: #E7E6EF;
    background-color: #E7E6EF;
}

.header-search button {
    background-color: #FB2E86;
    border: 0;
    width: 51px;
    height: 40px;
    align-items: center;
    justify-items: center;
}

.header-items pre {
    color: #0D0E43;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.9s;
}

.header-items pre:hover {
    color: rgb(27, 10, 10);
    font-size: 20px;
}

.header-items #home {
    color: #FB2E86;
}

body {
    height: 1200px;
}

.header i {
    display: none;
}

@media screen and (min-width:0px) and (max-width:480px) {
    .header .header-items pre {
        font-size: 10px;
    }

    .header .header-search,
    .header-items {
        display: none;
    }
}

@media screen and (min-width:481px) and (max-width:830px) {

    .header .header-items pre {
        font-size: 12px;
    }

    .header-items ul {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .header-search button {

        width: 31px;
        height: 20px;
    }

    .header .header-search,
    .header-items {
        display: none;
    }

    .header i {
        display: block;
    }

}
@media screen and (min-width:831px) and (max-width:1150px) {

    .header .header-items pre {
        font-size: 12px;
    }

    .header-items ul {
        gap: 13px;
    }

    .header-search button {

        width: 31px;
        height: 20px;
    }

    

}

.body {
    height: 300px;
}

/* start Promotional */
.promotional{
    background-color: #F2F0FF;
}
.promotional-img{
    width: calc((100% - 30px) /2 );
    position: relative;
}
.promotional-description{
    width: calc((100% - 30px) /2 );
}
.promotional-img img{
    width: 100%;
}
.chair{
    position: absolute;
}

.discount-image {
    position: absolute;
    right: -5px;
    height: 50px;
    width: 80px;
    
    
}


@media screen and (min-width: 0px) and (max-width:700px) {

    .promotional-img{
    width: 100%;
}
.promotional-description{
    width: 100%;
}
}

.promotional-description form{
    align-items: start;
}
.promotional-description span{
    color: #FB2E86;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}
.promotional-description h3{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style:normal;
    font-size: 53px;
    
    letter-spacing: 1.5px;
    line-height: 150%;
}

.promotional-description p{
    color: #8A8FB9;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}
/* end Promotional */

/* start Featured Products */
.featured-products {
    margin: 25px 0;
}

.featured-products .container {
    display: flex;
    flex-direction: column;
    gap: 46px;
    flex-wrap: wrap;
    max-width: 1400px;
    align-items: center;

}

.products {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

}

.product-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 90px) / 4);
    filter: drop-shadow(0px 0px 5px rgba(73, 2, 8, 0.336));
    flex-wrap: wrap;

}

@media screen and (min-width: 0px) and (max-width:480px) {

    .product-item {
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width:750px) {

    .product-item {
        width: calc(50%);
    }

    .products .product-image {
        width: 100%;

    }

}


.products .row {
    gap: 30px;
}

.product-item .product-image {
    background-color: #F6F7FB;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 236px;

}

@media screen and (min-width: 751px) and (max-width:1670px) {


    /* .products {

        gap: 20px;

    }

    .product-item {
        width: calc((100% - 60px) / 4);


    } */

    .product-item .product-image {
        width: 100%;
    }

}

.product-image .icons {
    display: flex;
    align-self: flex-start;
    justify-content: start;
    gap: 16px;
}



.product-image .icons #icon2 {
    width: 17px;
    height: 17px;
    margin: 10px 0 0 0;
}

.product-image .icons #icon3 {
    width: 15px;
    height: 15px;
    margin: 10px 0 0 0;

}

.product-image button {
    background-color: #08D15F;
    color: white;
    width: 94px;
    height: 29px;
    align-items: center;
    justify-content: center;
    border: 0 solid;
}


 .product-item .product-image.product-image2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 9px 0;
}



.products .product-description {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0 0 0;
    flex-wrap: wrap;

}

.products #product-description2 {
    background-color: #2F1AC4;
}

.products #product-description2 h3 {
    color: white;
}

#product-item1-h3 {
    color: pink;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

.product-item .product-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 5px;

}

.product-btn button {
    width: 14px;
    height: 4px;
    border: 0px solid;
}

.product-btn #btn11 {
    background-color: #05E6B7;
}

.product-btn #btn12 {
    background-color: #F701A8;
}

.product-btn #btn13 {
    background-color: #00009D;
}

.product-btn #btn21 {
    background-color: #05E6B7;
}

.product-btn #btn22 {
    background-color: #F701A8;
}

.product-btn #btn23 {
    background-color: #FFEAC1;
}

.product-btn #btn31 {
    background-color: #05E6B7;
}

.product-btn #btn32 {
    background-color: #F701A8;
}

.product-btn #btn33 {
    background-color: #00009D;
}

.product-btn #btn41 {
    background-color: #05E6B7;
}

.product-btn #btn42 {
    background-color: #F701A8;
}

.product-btn #btn43 {
    background-color: #00009D;
}

.product-description .product-price {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

.product-description #product-price1 {
    color: #151875;
}

.product-description #product-price2 {
    color: white;
}

.product-description #product-price2 #code2 {
    stroke: black;
    stroke-width: 1px;
}

.product-description .product-price {
    color: #151875;
}

.product-description h3 {
    color: pink;
}

/* end Featured Products*/



/* start body */

.shop {
    height: 462px;
    background-image: url(../img/backgroundShop.png);
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100% 462px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.shop h2 {
    width: 450px;
    text-align: center;
    font-size: 25px;
    color: #151875;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;

}

.solve-position {
    height: 160px;
}

/* end body  */

/* Start footer  */

.footer {

    bottom: 5px;
    background-color: var(--footer-background);
    padding: 50px 0px;
}

.footer .row {
    gap: 96px;
    align-items: start;
}

.footer .left-side {
    width: calc((100% - 96px) / 2);
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.footer .right-side {
    width: calc((100% - 96px) / 2);

}

.footer .right-side .row {
    gap: 10px;
    align-items: start;
}

.footer .right-side .item {
    width: calc((100% - 20px)/ 3);
    display: flex;
    flex-direction: column;
    gap: 47.76px;
}

.footer .right-side ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 23.32px;
}

.footer .right-side li {
    font-size: 12px;
    color: #8A8FB9;
}

.footer .right-side .item h2 {
    font-size: 14px;
}



.footer .left-side .email-address form {
    display: flex;
    margin: 0 0 27.77px 0;


}

.footer .left-side .email-address input {
    opacity: 0.45;
    border: 0;
    padding-left: 20px;
    width: 240px;
    height: 48.87px;
}

.footer .left-side h2 {
    font-size: 38px;
    margin: 0 0 34px 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.footer .left-side .contact-info {
    color: #8A8FB9;
}

.footer .left-side .contact-info span {
    margin: 0 0 11.11px 0;
}

@media screen and (min-width: 320px) and (max-width: 700px) {

    .footer .right-side,
    .footer .left-side {
        width: 100%;

    }
}

@media screen and (min-width: 320px) and (max-width: 500px) {
    .footer .right-side .item {
        width: 100%;

    }
}

/* End footer  */